# 원 핫 인코딩과 Min-Max 스케일링 Lab

In [3]:
import numpy as np 
import pandas as pd 
import os

1. customer_na.csv 파일을 읽어서 customer_df에 저장하시오. 저장 후에 데이터의 특성을 탐색하시오.

In [4]:
# customer_na.csv 파일을 읽어서 customer_df에 저장하시오. 저장 후에 데이터의 특성을 탐색하시오.
customer_df = pd.read_csv('../../data/customer_na.csv')
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CountryRegionName     18355 non-null  object
 1   Education             18355 non-null  object
 2   Occupation            18355 non-null  object
 3   Gender                18355 non-null  object
 4   MaritalStatus         18355 non-null  object
 5   HomeOwnerFlag         18355 non-null  int64
 6   NumberCarsOwned       18355 non-null  int64
 7   NumberChildrenAtHome  18355 non-null  int64
 8   TotalChildren         18355 non-null  int64
 9   YearlyIncome          18355 non-null  int64
 10  BikeBuyer             18355 non-null  float64
 11  AvgMonthSpend         18355 non-null  float64
 12  Age                   18355 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 1.8+ MB

In [6]:
print(customer_df['Gender'].unique())
print(customer_df['MaritalStatus'].unique())

['M' 'F']
['M' 'S']

## One-hot Encoding

2. Gender 값을 M은 0으로 F는 1로 변환하시오. MaritalStatus의 값을 M은 1로 S는 0으로 변환하시오.

In [7]:
customer_df['Gender'] = customer_df['Gender'].apply(lambda x: 0 if x=="M" else 1)
customer_df['MaritalStatus'] = customer_df['MaritalStatus'].apply(lambda x: 0 if x=="S" else 1)

3. CountryRegionName, Education, Occupation에 대하여 one-hot encoding을 수행하시오.

In [8]:
# CountryRegionName, Education, Occupation에 대하여 one-hot encoding을 수행하시오.
columns = ['CountryRegionName', 'Education', 'Occupation']

customer_df = pd.get_dummies(customer_df, columns=columns)

4. 모든 컬럼의 데이터 타입을 실수형으로 변환하시오.

In [10]:
customer_df = customer_df.astype('float')
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Gender                            18355 non-null  float64
 1   MaritalStatus                     18355 non-null  float64
 2   HomeOwnerFlag                     18355 non-null  float64
 3   NumberCarsOwned                   18355 non-null  float64
 4   NumberChildrenAtHome              18355 non-null  float64
 5   TotalChildren                     18355 non-null  float64
 6   YearlyIncome                      18355 non-null  float64
 7   BikeBuyer                         18355 non-null  float64
 8   AvgMonthSpend                     18355 non-null  float64
 9   Age                               18355 non-null  float64
 10  CountryRegionName_Australia       18355 non-null  float64
 11  CountryRegionName_Canada          18355 non-null  float64
 12  CountryRegionName_France          18355 non-null  float64
 13  CountryRegionName_Germany         18355 non-null  float64
 14  CountryRegionName_United Kingdom  18355 non-null  float64
 15  CountryRegionName_United States   18355 non-null  float64
 16  Education_Bachelors               18355 non-null  float64
 17  Education_Graduate Degree         18355 non-null  float64
 18  Education_High School             18355 non-null  float64
 19  Education_Partial College         18355 non-null  float64
 20  Education_Partial High School     18355 non-null  float64
 21  Occupation_Clerical               18355 non-null  float64
 22  Occupation_Management             18355 non-null  float64
 23  Occupation_Manual                 18355 non-null  float64
 24  Occupation_Professional           18355 non-null  float64
 25  Occupation_Skilled Manual         18355 non-null  float64
dtypes: float64(26)
memory usage: 3.6 MB

5. 모든 변수들에 대하여 Min-Max Scaling을 수행하시오.

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(customer_df)
customer_df_scaled_array = scaler.transform(customer_df)

6. One-hot encoding과 Min-Max scaling이 완료된 데이터프레임을 customer_scaled.csv에 저장하시오.

In [12]:
customer_df_scaled = pd.DataFrame(customer_df_scaled_array, columns=customer_df.columns)
customer_df_scaled.to_csv('../../data/res/customer_scaled.csv')