# 연관규칙 Lab 1

다음 거래 데이터에 대하여 연관 분석을 수행하시오.

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
# transaction
dataset = [['Orange Juice','Soda'],
           ['Milk','Orange Juice','Window Cleaner'],
           ['Orange Juice', 'Detegent'],
           ['Orange Juice', 'Detegent', 'Soda'],
           ['Window Cleaner', 'Soda']]

1. 트랜젝션 데이터를 생성하시오.

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary.shape

(5, 5)

In [4]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Detegent   Milk  Orange Juice   Soda  Window Cleaner
0     False  False          True   True           False
1     False   True          True  False            True
2      True  False          True  False           False
3      True  False          True   True           False
4     False  False         False   True            True

2. 최소지지도를 20%로 해서 frequent item sets을 생성하시오. 몇 개의 item set들이 생성되었는지 확인하시오.

In [5]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

    support                              itemsets
0       0.4                            (Detegent)
1       0.2                                (Milk)
2       0.8                        (Orange Juice)
3       0.6                                (Soda)
4       0.4                      (Window Cleaner)
5       0.4              (Orange Juice, Detegent)
6       0.2                      (Soda, Detegent)
7       0.2                  (Orange Juice, Milk)
8       0.2                (Window Cleaner, Milk)
9       0.4                  (Orange Juice, Soda)
10      0.2        (Orange Juice, Window Cleaner)
11      0.2                (Window Cleaner, Soda)
12      0.2        (Orange Juice, Soda, Detegent)
13      0.2  (Orange Juice, Window Cleaner, Milk)

3. 이 frequent item sets을 이용해서 신뢰도가 60%이상인 연관 규칙들을 생성하시오. 몇 개의 규칙이 생성되었는지 확인하시오.

In [6]:
from mlxtend.frequent_patterns import association_rules

In [7]:
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules.shape

(9, 9)

In [8]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Detegent),(Orange Juice),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
1,(Milk),(Orange Juice),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
2,(Milk),(Window Cleaner),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
3,(Soda),(Orange Juice),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
4,"(Soda, Detegent)",(Orange Juice),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
5,"(Orange Juice, Window Cleaner)",(Milk),0.2,0.2,0.2,1.000000,5.000000,0.16,inf
6,"(Orange Juice, Milk)",(Window Cleaner),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
7,"(Window Cleaner, Milk)",(Orange Juice),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
8,(Milk),"(Orange Juice, Window Cleaner)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf

In [9]:
rules.columns

Index(['antecedents', 'consequents', 'antecedent support',
       'consequent support', 'support', 'confidence', 'lift', 'leverage',
       'conviction'],
      dtype='object')

In [10]:
rules[['consequents']]

                      consequents
0                  (Orange Juice)
1                  (Orange Juice)
2                (Window Cleaner)
3                  (Orange Juice)
4                  (Orange Juice)
5                          (Milk)
6                (Window Cleaner)
7                  (Orange Juice)
8  (Orange Juice, Window Cleaner)

4. 신뢰도가 가장 높은 규칙을 확인하시오(Hint. idxmax() 메소드를 통해서 최대값의 인덱스를 구할 수 있음).

In [11]:
rules.loc[rules['confidence'].idxmax()]

antecedents               (Detegent)
consequents           (Orange Juice)
antecedent support               0.4
consequent support               0.8
support                          0.4
confidence                       1.0
lift                            1.25
leverage                        0.08
conviction                       inf
Name: 0, dtype: object

5. 향상도가 가장 높은 규칙을 확인하시오.

In [12]:
rules.loc[rules['lift'].idxmax()]

antecedents           (Orange Juice, Window Cleaner)
consequents                                   (Milk)
antecedent support                               0.2
consequent support                               0.2
support                                          0.2
confidence                                       1.0
lift                                             5.0
leverage                                        0.16
conviction                                       inf
Name: 5, dtype: object

6. 신뢰도가 가장 높은 규칙 3개를 추출하시오.

In [13]:
rules.sort_values('confidence',ascending=False)[['antecedents','consequents','support','confidence','lift']].head(3)

  antecedents       consequents  support  confidence  lift
0  (Detegent)    (Orange Juice)      0.4         1.0  1.25
1      (Milk)    (Orange Juice)      0.2         1.0  1.25
2      (Milk)  (Window Cleaner)      0.2         1.0  2.50

7. 향상도가 가장 높은 규칙 3개를 추출하시오.

In [14]:
rules.sort_values('lift',ascending=False)[['antecedents','consequents','support','confidence','lift']].head(3)

,antecedents,consequents,support,confidence,lift
5,"(Orange Juice, Window Cleaner)",(Milk),0.2,1.0,5.0
8,(Milk),"(Orange Juice, Window Cleaner)",0.2,1.0,5.0
2,(Milk),(Window Cleaner),0.2,1.0,2.5

8. 결론에 ‘Window Cleaner’가 출현하는 규칙들을 추출하시오.

In [15]:
oj_rules=rules[rules['consequents'] == {'Window Cleaner'}]

In [16]:
oj_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Milk),(Window Cleaner),0.2,0.4,0.2,1.0,2.5,0.12,inf
6,"(Orange Juice, Milk)",(Window Cleaner),0.2,0.4,0.2,1.0,2.5,0.12,inf

In [17]:
oj_rules_1=rules[rules['consequents'].apply(lambda x: 'Window Cleaner' in x)]

In [18]:
oj_rules_1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Milk),(Window Cleaner),0.2,0.4,0.2,1.0,2.5,0.12,inf
6,"(Orange Juice, Milk)",(Window Cleaner),0.2,0.4,0.2,1.0,2.5,0.12,inf
8,(Milk),"(Orange Juice, Window Cleaner)",0.2,0.2,0.2,1.0,5.0,0.16,inf